*{
	margin: 0 ;
	padding: 0 ;
}
.background{
/*	width:1200px;*/
	height:768px;
	margin:0 auto;
/*	border:1px solid red ;*/
	background-image:url("../images/background.jpg");
}
.header{
	width:1000px;
	height:93px;
	margin:0 auto;
/*	border:1px solid;*/
	
}
.header .hea_left{
	height:93px;
	width:353px;
/*	border:1px solid;*/
	float:left;
}
.header .hea_left img{
	position:relative;
	left:60px;
	bottom:-10px;
}
.header .hea_right {
	width:642px;
	height:93px;
	float:right;
	/*border:1px solid;*/
}
.header .hea_right ul li{
	list-style: none;
	float:right;
	width:115px;
	height:43px;
	line-height: 43px;
	text-align: center;
	background-image: url("../images/anniu.png");
	margin-right:30px;
	font-family: "黑体";
	color:#fff;
	margin-top:31px;
	cursor:pointer;
}
.container{
	width:1000px;
	height:541px;
	/*border:1px solid;*/
	margin: 0 auto;
}
.container .butt{
	margin-top:30px;
	margin-left: 361px;
}
.container button{
	background-image:url("../images/zuoye.png");
}
.container .img1{
	position:absolute;
	bottom:-200px;
	right:60px;

}
.container .img2{
	position:absolute;
	bottom:-120px;
	right:60px;

}
.container .img3{
	position:absolute;
	top:250px;
	right:50px;

}